packages:
  yum:
    postgresql15-server: []
    postgresql15-devel: []

commands:
  01_setup_postgres:
    command: |
      if [ ! -d /var/lib/pgsql/data ]; then
        postgresql-setup --initdb
        systemctl start postgresql
        systemctl enable postgresql
        sudo -u postgres psql -c "CREATE DATABASE inventory_db;" || true
        sudo -u postgres psql -c "CREATE USER admin_user WITH PASSWORD 'seidor*2026';" || true
        sudo -u postgres psql -c "GRANT ALL PRIVILEGES ON DATABASE inventory_db TO admin_user;"
        sudo -u postgres psql -c "ALTER SCHEMA public OWNER TO admin_user;"
      fi