packages:
  yum:
    gcc: []
    python3-devel: []

commands:
  01_install_setuptools:
    command: "pip install --no-cache-dir setuptools==56.0.0"
  02_install_cffi:
    command: "pip install --no-cache-dir cffi>=2.0.0"
  04_install_cython:
    command: "pip install Cython==0.29.24"  # Asegurarse de que Cython esté instalado con pip
  05_install_pyyaml:
    command: "pip install --no-binary :all: PyYAML"
