packages:
  yum:
    gcc: []
    python3-devel: []

commands:
  01_install_cython:
    command: "pip install Cython==0.29.24"  # Asegurarse de que Cython esté instalado con pip
  02_install_pyyaml:
    command: "pip install --no-binary :all: PyYAML"  # Evitar la instalación desde binarios
  03_install_setuptools:
    command: "pip install --no-cache-dir --no-binary :all: setuptools"
