packages:
  yum:
    gcc: []  # Instalación de gcc necesario para algunos paquetes
    python3-devel: []  # Instalación de python3-devel necesario para compilar extensiones

commands:
  01_install_pip:
    command: "pip install --upgrade pip"  # Asegúrate de tener la última versión de pip
  02_install_setuptools:
    command: "pip install --no-cache-dir setuptools==56.0.0"  # Instalación de setuptools específico
  03_install_cffi:
    command: "pip install --no-cache-dir cffi>=2.0.0"  # Instalación de cffi con versión correcta
  04_install_cython:
    command: "pip install --no-cache-dir Cython==0.29.24"  # Instalación de Cython para compilar extensiones
  05_install_pyyaml:
    command: "pip install --no-binary :all: --no-cache-dir PyYAML"  # Instalación de PyYAML sin usar binarios
